{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <link rel="stylesheet" href="{% static 'css/signupstyle1.css' %}">
    <head>
        <title>Sign Up</title>
                                                                                                                                                                                                                                                                                                                                                
        
    </head>
    <body>
        <div class="signup-box">
            <div id="sign">
                <h1>Sign Up</h1>
                <h4>It's free and only takes a minute.</h4>
            </div>
            <style> 
                input[type=submit] {
                    background-color: rgb(49, 49, 243);
    width: 120px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
                }
                </style>
            
            <style>
                h3{
                    text-align:center;
                    color: red;
                }
            </style>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
            
            
            <form method="POST" action="signup">
                {% csrf_token %}
                <br>
                     <label>Full Name:</label>
                     <input type="text" placeholder="" name="First Name" required>
                </br>
                
                <br>
                     <label >Year:</label>
                     <select name="year" id="year" required style="width: 100%; height: 40%;" >
                        <option value="">None</option>
                        <option value="FE">FE</option>
                        <option value="SE">SE</option>
                        <option value="TE">TE</option>
                        <option value="BE">BE</option>
                      </select>
                </br>
                
                <br>
                    <label>Enrollment no:</label>
                    <input type="text" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[0-9]).{8}" title="Eg. CL-23022" placeholder="" name="Enrollment" required>
                </br>
                <br>
                    <label>Password:</label>
                    <input type="password" placeholder="" name="Password" required>
                </br>
                <br>
                    <label>Repeat Password:</label>
                    <input type="password" placeholder="" name="Password2" required>
                </br>
                
                
                
            
            <p>
                <input type="submit" value="Sign up">
                
                <br>
                <b id="account"><br>Already have a account?</b>
                <a href="login" id="login">Login</a> 
                </b>
            </p>
            </form>
            

           
        </div>    
                
    
       
    </body>
</html>